div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/experience/{id}
div(class="section")
  div(class="label") Description
  div(class="value") Returns the experience associated with the numeric ID provided in the route.
div(class="section")
  div(class="label") Response
  div(class="value")
        img(src="./imgs/experiences.png")